server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankify
    username: bank_user
    password: bank_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # for now, auto-create tables; change to validate in prod
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
